# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore OS and App-specific paths
.DS_Store
.zedstate
.project
.buildpath
.settings/*